extends layout
block content
  .container
    h1 Create a Collection Definition
    br
    form.span8(action="/save/colldef", method="post")
      label Name:
      input(type='text', name='name')
      hr
      table.table.table-bordered
        tr
          th  Field Name
          th  Field Type
          th  Primary Key
        tr
          td
            input(type='text', name='fields[field1]')
          td
            input(type='text', name='fields[type1]')
          td
            input(type='text', name='fields[pk1]')
        tr
          td
            input(type='text', name='fields[field2]')
          td
            input(type='text', name='fields[type2]')
          td
            input(type='text', name='fields[pk2]')
        tr
          td
            input(type='text', name='fields[field3]')
          td
            input(type='text', name='fields[type3]')
          td
            input(type='text', name='fields[pk3]')
        tr
          td
            input(type='text', name='fields[field4]')
          td
            input(type='text', name='fields[type4]')
          td
            input(type='text', name='fields[pk4]')
      button.btn.btn-primary(type='submit') Save
    