.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') Basetemp
      .nav-collapse
        ul.nav
          li
            a(href='/')
              i.icon-home.icon-black
              | Home
          li
            a(href='page1') Dummy
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Collections
              b.caret
            ul.dropdown-menu
              li
                a(href='/table/nameage', data-toggle='modal') NameAge
              li
                a(href='/table/tt', data-toggle='modal') tt
        ul.nav.pull-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | DropDown
              b.caret
            ul.dropdown-menu
              li
                a(href='#myModal', data-toggle='modal') Modal
              li
                a(href='//google.com') Link
