#insert-modal.modal.hide.fade(tabindex='-1', role='dialog')
  .modal-header
    button.close(type='button', data-dismiss='modal') ×
    h3 Insert a record into #{title}
    form(action="/save/#{title}")
      .modal-body
        .row-fluid
          .span6
            for col in columns
              label #{col}:
              input.span12(type='text', name="#{col}")
      .modal-footer
        button.btn(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='submit') Save
script.
  $(function(){
    initForm('#insert-modal', {
       age: "required"
     });
  });
